---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: controller-role
rules:
- apiGroups:
  - config.my.domain
  resources:
  - inventories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.my.domain
  resources:
  - inventories/finalizers
  verbs:
  - update
- apiGroups:
  - config.my.domain
  resources:
  - inventories/status
  verbs:
  - get
  - patch
  - update
