---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: inventories.config.my.domain
spec:
  group: config.my.domain
  names:
    kind: Inventory
    listKind: InventoryList
    plural: inventories
    shortNames:
    - inv
    singular: inventory
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Inventory is the Schema for the inventories API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of Inventory
            properties:
              annotationKey:
                description: |-
                  By default inventory controller looks for annotation "owned-by" to
                  decide who owns it. DefaultAnnotation if defined, overrides that.
                maxLength: 50
                minLength: 5
                type: string
            type: object
          status:
            description: status defines the observed state of Inventory
            properties:
              failureMessage:
                description: |-
                  FailureMessage reports any error the controller hit
                  *optional
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
